# VCS
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.coverage*
htmlcov/
.cache/

# Virtual envs
.venv/
venv/

# Env files (keep example)
.env
.env.*
!.env.example

# OS / editors
.DS_Store
.idea/
.vscode/

# Misc
*.log
